@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sky-button-rounded {
        @apply bg-sky-500 border border-sky-500 text-white duration-500 py-2 px-3 
        focus:outline-none focus:ring focus:ring-sky-300 rounded-xl shadow-sm
      hover:text-sky-600 hover:bg-transparent active:bg-transparent active:text-sky-500;
    }
    .input-form-sky {
        @apply my-2 py-2 px-4 rounded-lg block w-full h-8 text-black focus:outline-none border 
        focus:ring focus:ring-sky-400 border-sky-400;
    }
    .input-file-type {
        @apply bg-white block my-2 rounded-lg text-black w-full focus:outline-none file:bg-sky-500 
        file:border-none file:shadow-lg file:text-white file:mr-2 
        file:h-8 border border-sky-400 focus:ring focus:ring-sky-400;
    }
}
